<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @commentvote.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @commentvote.user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @commentvote.comment_id %>
</p>

<%= link_to 'Edit', edit_commentvote_path(@commentvote) %> |
<%= link_to 'Back', commentvotes_path %>
