<p id="notice"><%= notice %></p>

<h1>Listing Projectvotes</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>User</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projectvotes.each do |projectvote| %>
      <tr>
        <td><%= projectvote.rating %></td>
        <td><%= projectvote.user_id %></td>
        <td><%= projectvote.project_id %></td>
        <td><%= link_to 'Show', projectvote %></td>
        <td><%= link_to 'Edit', edit_projectvote_path(projectvote) %></td>
        <td><%= link_to 'Destroy', projectvote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projectvote', new_project_projectvote_path(@project) %>
