<%= stylesheet_link_tag "projects.css" %>

<div class="panel panel-default">
<h2>Inscribir Nuevo Proyecto</h2>
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :video_link %><br />
    <%= f.text_field :video_link %>
  </div>

  <div class="dropdown">
    <%= f.label :categoria %><br />
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <br />
    <br />
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Otros</a></li>
      <li><a href="#">Lenguaje</a></li>
      <li><a href="#">Matemáticas</a></li>
      <li><a href="#">Ciencias Naturales</a></li>
      <li><a href="#">Ciencias Sociales</a></li>
      <li><a href="#">Arte</a></li>
      <li><a href="#">Música</a></li>
      <li><a href="#">Lenguaje</a></li>
      <li><a href="#">Deportes</a></li>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
