<%= stylesheet_link_tag "projects.css" %>

<div class="panel panel-default">
<h2>Inscribir Nuevo Proyecto</h2>
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :descripción %><br />
    <%= f.text_area :description, :class => "text-area" %>
  </div>

  <div class="field">
    <%= f.label :video_link %><br />
    <%= f.text_field :video_link %>
  </div>

<div class="field">
   <%= f.label :categoría %><br />
   <%= f.select :category,
     ([['Otros', 0],
     ['Lenguaje', 1],
     ['Matemáticas', 2],
     ['Ciencias Naturales', 3],
     ['Ciencias Sociales', 4],
     ['Arte', 5],
     ['Musica', 6],
     ['Deportes', 7]]), {} , :class => "category-dropdown" %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
