<div class="row">
    <div class="col-md-12">
        <div class="">
            <h1>
                <small class="pull-right">
                    <%= @project.comments.count %>
                    <%= @project.comments.count == 1 ? 'Comentario' : 'Comentarios' %>
                </small>
            </h1>
        </div> 
    </div>
</div>
<div class="row">
    <div class="comments-list">
        <% @project.comments.reverse_each do |comment| %>
            <% generator = ColorGenerator.new saturation: 0.3, lightness: 0.75, seed: comment.user_id*100000 %>
            <% comment_color =  generator.create_hex %>
            <div class="comment-container media" style="border-left:10px solid #<%=comment_color%>">
                <div class="comment-border-left" style="background-color:#<%=comment_color%>">
                </div>
                <p class="pull-right"><small>
                    <%= comment.created_at.strftime("%d %b %Y, %H:%M") %></small></p>
                <a class="comment-image" href="#">
                       <% if !comment.user.avatar_file_name.nil? %>
                        <%= image_tag image_path(comment.user.avatar) , size: "60x60", alt: image_path('pinguino.png'), class: "img-circle" %>
                    <% else %>
                        <div class="pinguino">
                          <%= image_tag image_path('pinguino.png') , size: "60x60", alt: "img missing" , class: "img-circle img-responsive" %>
                        </div>
                    <% end %>
            </a>
                <div class="comment-body">
                    <h4>
                        <%= link_to comment.user.username, comment.user %>
                    </h4>
                    <%= comment.content %>
                </div>
            </div>
        <% end %>
    </div>
</div>
