        <div class="row" style="margin-bottom:10px">
            <div class="col-8">
                <div class="slide-row">
                    <div id="carousel-1" class="carousel slide slide-carousel" data-ride="carousel">
                        <div class="item">
                            <%#<img src="http://lorempixel.com/160/160?rand=1" alt="Image">%>
                            <% if !project.avatar_file_name.nil? %>
                                <%= image_tag image_path(project.avatar) , size: "160x160", alt: image_path('open_book.png') %>
                            <% else %>
                                <%= image_tag image_path('open_book.png' , size: "160x160", alt: "img missing" )%>
                            <% end %>
                        </div>
                    </div>
                    <div class="slide-content">
                        <h3 class="media-heading">
                            <%= project.title %>
                        </h3>
                        <% if project.category %>
                            <h4 class="media-heading">
                                <%= 'Categoria: ' + project.category.name %>
                            </h4>
                        <% end %>
                        <% project.owners.each do |owner| %>
                            <div><%= "Creador: " + owner.user.username %></div>
                        <%end%>
                        <div><%= project.description %></div>
                    </div>
                    <div class="slide-footer">
                        <span class="pull-right buttons">
                            <%= link_to("<span class=\"fa fa-fw fa-eye\"></span> ".html_safe + "Ver", project, :class => 'btn btn-sm btn-primary') %>
                            <% if current_user && project.owners.exists?(:user_id => current_user.id) %>
                                <%= link_to("<span class=\"fa fa-fw fa-wrench\"></span>".html_safe+'Editar', edit_project_path(project), :class => 'btn btn-warning btn-sm') %>
                                <%= link_to("<span class=\"fa fa-fw fa-times\"></span>".html_safe+'Eliminar', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm front-page-btn') %>
                            <% end %>
                        </span>
                    </div>
                    <div class="slide-rating">
                        <% @project = project %>
                        <%= render partial: 'stars', locals: { n: @project.average_rating} %>
                    </div>
                </div>
            </div>
        </div>
