<div class="starvotes" id="starvotes">
    <div class="rating-number">
        <%= number_with_precision(n.round(1), :precision => 1, :separator => ',') %>
    </div>
    <% for i in 1..5 %>
        <% if n >= 1 %>
            <% star_class = "fa fa-star starvote fa-fw" %>
            <% n -= 1 %>
        <% elsif (n > 0) && (n < 1) %>
            <% star_class = "fa fa-star-half-o starvote fa-fw" %>
            <% n -= 1 %>
        <% else %>
            <% star_class = "fa fa-star-o starvote fa-fw" %>
        <% end %>

        <div style="display:inline-block" class="starvote">
        <% if current_user && @project.projectvotes.exists?(:user_id => current_user.id) %>
            <%= form_for ([@project, @project.projectvotes.where(:user_id => current_user.id).first]) do |f| %>
                <div class="field">
                    <%= f.hidden_field :rating, :value => (i) %>
                </div>
                <%= button_tag(type: 'submit', class: "submit-star") do %>
                    <% html_icon = "<i class=\""+star_class+"\"></i>" %>
                    <%= html_icon.html_safe %>
                 <% end %>
            <% end %>
        <% else %>
            <%= form_for([@project, @project.projectvotes.build] ) do |f| %>
                <div class="field">
                    <%= f.hidden_field :rating, :value => (i) %>
                </div>
                <%= button_tag(type: 'submit', class: "submit-star") do %>
                    <% html_icon = "<i class=\""+star_class+"\"></i>" %>
                    <%= html_icon.html_safe %>
                 <% end %>
            <% end %>
        <% end %>
        </div>
    <% end %>
</div>
