<%= stylesheet_link_tag "projects.css" %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Todos</a></li>
            <li><a href="#">Lenguaje</a></li>
            <li><a href="#">Matemáticas</a></li>
            <li><a href="#">Ciencias Naturales</a></li>
            <li><a href="#">Ciencias Sociales</a></li>
            <li><a href="#">Arte</a></li>
            <li><a href="#">Música</a></li>
            <li><a href="#">Lenguaje</a></li>
            <li><a href="#">Deportes</a></li>
            <li><a href="#">Otros</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <h1>Listing Projects</h1>
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Video link</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.description %></td>
            <td><%= project.video_link %></td>
            <td><%= link_to 'Show', project %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Project', new_project_path %>

  </div>
</div>
