    <%= stylesheet_link_tag "projects.css" %>
<p id="notice"><%= notice %></p>
<!-- TODO Paginar -->
<!-- TODO incluir usuarios desde BD -->
<!-- TODO PONER LINK A PROYECTO EN FOTO -->
<!-- TODO poner title -->
<div class="row">
    <div class="col-sm-3">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Todos</a></li>
                        <% Category.all.each do |category| %>
                            <% if category %>
                                <li><%= link_to category.name, {:action => 'index', :category => category.id}, remote: true %></li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <% if current_user %>
            <%= link_to 'Nuevo Proyecto', new_project_path, :class => 'btn btn-success btn-block front-page-btn' %>
        <% end %>
        <h1>Proyectos</h1>
        <ol id="proyectos", data-remote="true">
          <%= render @projects %>
        </ol>
    <br>
  </div>
</div>
