
<% if @project.owners.include?(current_user) %>
    true
<% end %>
<% current_user_is_owner = false %>
<% @project.owners.each do |owner| %>
    <% if (defined? current_user and signed_in? and owner.user_id == current_user.id) %> 
        <% current_user_is_owner = true %>
    <% end %>
<% end %>


<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div class="container" id="vista_proyecto">
    <div class="container col-sm-2">
    </div>

    <div class="container col-sm-8 project-content">
        <div class="row page-header" style="margin-top:0px">
            <div class="avatar">
                <div class= "col-sm-9">
                <% if !@project.avatar_file_name.nil? %>
                    <%= image_tag image_path(@project.avatar) , size: "256x256", alt: image_path('pinguino.png') ,class: "img-circle img-responsive"%>
                <% else %>
                    <%= render "default" %>
                <% end %>
            <h3 style="margin:0px; font-weight:bold; text-align:center;margin-top:4px;">
                <%= @project.category.name %>
            </h3>
                </div>
            </div>
            <div class="col-sm-1 votes">
                <a href="#AgregarComentario">
                    <div class="vote negative" id="ComentarBtn">
                        <i class="fa fa-comment">
                        </i>
                    </div>
                </a>
                <% if (current_user_is_owner) %>
                    <div class="vote edit" style="text-decoration:none">
                        <%= link_to '', edit_project_path(@project), class: 'fa fa-wrench edit', style:"text-decoration:none;"%>
                    </div>
                <% end %>
            </div>
            <div class="col-sm-7">
                <div class="project-title">
                <h1>
                    <%= @project.title? ? @project.title : "Sin titulo"  %>
                    <%= render partial: 'stars', locals: { n: @project.average_rating} %>
                    <script>ratingStars()</script>
                </h1>
                </div>
                <p class="lead blog-description">
                    <%= @project.description %>
                </p>
                <% @project.users.each do |user| %>
                    <% user.username %>
                <% end %>
                <% @project.owners.each do |owner| %>
                    <p>
                    Creador: 
                    <%= link_to owner.user.username, owner.user %>

                    </p>
                <% end %>
                <p class="blog-meta">
                    Fecha creacion: <%= @project.created_at.strftime("%d %b %Y")%>
                </p>
            </div>
        </div>

        <div class="row">
            <ul class="nav nav-tabs" id="tabs">
                <li class="active">
                    <a href="#Content" data-toggle="tab">Contenido</a>
                </li>
                <li>
                    <a href="#Video" data-toggle="tab">Video</a>
                </li>
                <li>
                    <a href="#Comentarios" data-toggle="tab">Comentarios</a>
                </li>
                <li>
                    <a href="#Imagenes" data-toggle="tab">Imagenes</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <section class="tab-content">
                <article class="tab-pane active" id="Content">
                    <h3>Contenido</h3>
                    <p>
                    <%#<%= GitHub::Markup.render('Content', @project.content) %>

                    <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
                    <%= markdown.render(@project.content).html_safe %>
                    </p>
                </article>
                <article class="tab-pane" id="Video">
                    <div class="embed-container">  
                        <%= embed(@project.video_link) %>  
                    </div>  
                </article>
                <article class="tab-pane" id="Comentarios">
                    <%= render "listComments" %>
                    <%= render "addComment" %>
                </article>
                <article class="tab-pane" id="Imagenes">
                    <%= render "listProjectPhoto"%>
                </article>
            </section>
        </div>
        <div class="row footer">
            <%= link_to 'Volver', projects_path, class: "btn btn-primary" %>
        </div>
    </div>
    <div class="container col-sm-12">
        <% debug(@project) %>
    </div>
</div>
</div>
